@font-face {
    font-family: "iran-yekan-400";
    src: url("/fonts/iran-yekan-400.woff") format("woff"), url("/fonts/iran-yekan-400.woff2") format("woff2");
}

@font-face {
    font-family: "iran-yekan-700";
    src: url("/fonts/iran-yekan-700.woff") format("woff"), url("/fonts/iran-yekan-700.woff2") format("woff2");
}


html {
    font-size: 14px;
    margin: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: iran-yekan-400;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, white 0%, #2575fc 100%);
}

.image-card {
    width: 35rem;
    border-width: 0;
    background-color: transparent;
}

    .image-card .card-body {
        width: 5rem;
    }

    .image-card .card-img-top {
        border-radius: calc(.25rem - 1px);
    }

.focus-none:focus {
    outline: none;
    box-shadow: none;
}

.form-container {
    background-image: linear-gradient(120deg, #36d1dc, #3989FD);
    box-shadow: 10px 10px 5px darkcyan;
    color: mintcream;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    font-size: 0.9rem;
    width: 50vh;
}