@{
    ViewData["Title"] = "Home Page";
}

<div style="font-size:5em; position:absolute; top:20px; left:20px; z-index: 2">
    Prediction: Malignant
    Probability: 70%
</div>
<iframe src="https://mammoclassifier.surge.sh/" style="width: 100%; height: 500px; border: none" />


@* <div class="row justify-content-evenly">
    <div class="card image-card d-flex flex-row col-md-6 my-5">
        <div class="card-body p-0" role="toolbar">
            <div class="btn-group-vertical me-2" role="group">
                <label class="text-center">نمای MLO</label>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-zoom-in"></i></button>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-zoom-out"></i></button>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-arrows-move"></i></button>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-bounding-box-circles"></i></button>
                <button type="button" class="btn btn-info focus-none">حاشیه نویسی</button>
                <button type="button" class="btn btn-info focus-none">6</button>
                <button type="button" class="btn btn-info focus-none">7</button>
                <button type="button" class="btn btn-info focus-none">8</button>
            </div>
        </div>
        <img src="~/image/Original Image MLO.png" class="card-img-top" alt="...">
    </div>

    <div class="card image-card d-flex flex-row col-md-6 my-5">
        <div class="card-body p-0" role="toolbar">
            <div class="btn-group-vertical me-2" role="group">
                <label class="text-center">نمای CC</label>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-zoom-in"></i></button>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-zoom-out"></i></button>
                <button type="button" class="btn btn-info focus-none"><i class="bi bi-arrows-move"></i></button>
                <button type="button" class="btn btn-info focus-none">حاشیه نویسی</button>
                <button type="button" class="btn btn-info focus-none">5</button>
                <button type="button" class="btn btn-info focus-none">6</button>
                <button type="button" class="btn btn-info focus-none">7</button>
                <button type="button" class="btn btn-info focus-none">8</button>
            </div>
        </div>
        <img src="~/image/Original Image CC.png" class="card-img-top" alt="...">
    </div>
</div> *@
