@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white">سامانه هوشمند کمک تشخصی سرطان پستان</h1>
    <a class="btn btn-info mt-1" asp-controller="Viewer">ورود به نرم افزار</a>
</div>
